<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GameWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7"/>
    </startup>
    <applicationSettings>
        <GameWPF.Properties.Settings>
            <setting name="MAPS_DIRECTORY_NAME" serializeAs="String">
                <value>maps</value>
            </setting>
            <setting name="MAPS_EXTENSION" serializeAs="String">
                <value>.map</value>
            </setting>
            <setting name="SPRITES_DIRECTORY_NAME" serializeAs="String">
                <value>sprites</value>
            </setting>
        </GameWPF.Properties.Settings>
    </applicationSettings>
</configuration>
