################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/GameWPF/obj
/GameWPF/bin
/maps/TestMap (2).map
/Core/bin/Debug
/Core/obj
/Core.Maps/bin
/Core.Maps/obj
/MapEditor/bin
/MapEditor/obj
/MapEditor/obj/Debug
